<div class="moves-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          {{'pokedex.move' | translate}}
        </th>
        <th scope="col">
          {{'pokedex.learned-at-level' | translate}}
        </th>
        <th scope="col">
          {{'pokedex.method' | translate}}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (moveItem of moves; track moveItem) {
        @if (moveItem.version_group_details[0].level_learned_at > 0) {
          <tr (click)="openMoveDetail(moveItem)">
            <td>
              {{moveItem.move.name | capitalize}}
            </td>
            <td>
              {{moveItem.version_group_details[0].level_learned_at}}
            </td>
            <td>
              {{moveItem.version_group_details[0].move_learn_method.name | capitalize}}
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<ngkdx-move-popup #moveDetail />