@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

nav {
	height: pxToRem(60px);
	padding: pxToRem(0px) pxToRem(15px);
	border-bottom: pxToRem(5px) solid rgba($ngkdx-red-1);
	background: rgba($ngkdx-dark-blue-1);

	.navbar-nav {
		margin-left: pxToRem(15px);

		.nav-link {
			color: rgba($ngkdx-white);
			text-align: center;
			border-radius: pxToRem(6px);
			min-width: pxToRem(120px);
			margin-right: pxToRem(6px);

			&.active {
				background-color: rgba($ngkdx-red-1);
				font-weight: 600;
			}

			&:hover:not(.active) {
				background-color: rgba($ngkdx-light-blue-1);
				color: rgba($ngkdx-black);
				cursor: pointer;
			}
		}

		#search-btn {
			justify-content: flex-end;
			display: flex;
			flex-grow: 1;

			.nav-link {
				min-width: pxToRem(40px) !important;
			}
		}
	}
}