@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

nav {
	height: pxToRem(60px);
	padding: pxToRem(0px) pxToRem(15px);
	border-bottom: pxToRem(5px) solid rgba($ngkdx-red);
	background: rgba($ngkdx-dark-blue-1);

	.navbar-nav {
		margin-left: pxToRem(15px);

		.nav-link {
			color: rgba($ngkdx-white);
			text-align: center;
			border-radius: pxToRem(6px);
			min-width: pxToRem(100px);
			margin-right: pxToRem(6px);

			&.active {
				background-color: rgba($ngkdx-red);
				font-weight: 700;
			}

			&:hover:not(.active) {
				background-color: rgba($ngkdx-light-blue-1);
				color: rgba($ngkdx-black);
				cursor: pointer;
			}
		}
	}
}