<nav class="navbar">
    <div class="container-fluid justify-content-start">
        <a [routerLink]="'/'" class="navbar-brand">
            <img src="assets/img/pokeball.png" width="30" height="30" alt="Home" />
        </a>

        <div class="navbar-expand flex-grow-1">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="mainMenuRoute.POKEDEX" routerLinkActive="active" class="nav-link">
                        {{'header.pokedex' | translate}}
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="mainMenuRoute.MOVES" routerLinkActive="active" class="nav-link">
                        {{'header.moves' | translate}}
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="mainMenuRoute.MACHINES" routerLinkActive="active" class="nav-link">
                        {{'header.machines' | translate}}
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="mainMenuRoute.ABOUT" routerLinkActive="active" class="nav-link">
                        {{'header.about' | translate}}
                    </a>
                </li>

                <li class="nav-item" id="search-btn" *ngIf="searchBtnVisible">
                    <span class="nav-link" [ngbTooltip]="'header.search-here' | translate" (click)="openSearchLayer()">
                        <em class="fas fa-search"></em>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>