@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

.poke-box,
.poke-box-compact {
  border: 1px solid rgba($ngkdx-light-blue-1);
  border-radius: pxToRem(8px);
  transition: all 200ms ease-in-out;
}

.poke-box {
  min-height: pxToRem(250px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;

  .pokemon-picture {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transform: translateY(30px);
    transition: transform 200ms, opacity 100ms ease-in-out !important;
  }

  .pokemon-name {
    height: pxToRem(80px);
    font-size: pxToRem(25px);
    font-weight: lighter;
    margin: 0;
    opacity: 0;
    align-items: center;
    transition: transform 200ms, opacity 100ms ease-in-out !important;
    transform: translateY(10px);

    p {
      margin: 0;
    }

    .pokemon-number {
      font-size: 1rem;
      color: rgba($ngkdx-light-blue-1);
    }
  }

  &:hover {
    cursor: pointer;
    transition: background-color 200ms;
    background-color: rgba($ngkdx-light-blue-3);

    .pokemon-picture {
      transform: translateY(15px);
    }

    .pokemon-name {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &:active {
    background-color: rgba($ngkdx-light-blue-1) !important;
  }
}

.poke-box-compact {
  padding: pxToRem(15px);
  margin: pxToRem(10px) 0;
  font-size: pxToRem(20px);
  font-weight: lighter;

  .pokemon-number {
    opacity: 0;
    font-size: 1rem;
    margin-left: pxToRem(8px);
    color: rgba($ngkdx-light-blue-1);
    transition: all 200ms ease-in-out;
  }

  &:hover {
    background-color: rgba($ngkdx-light-blue-3) !important;
    cursor: pointer;

    .pokemon-number {
      opacity: 1;
    }
  }
}