<ngkdx-base-layout [id]="'pokedex'" [showSearch]="true" [searchTerm]="searchTerm">
  <div class="row pokemon-list" #uiElement (scroll)="onScroll()" [class.overflow-hidden]="showSmallLoader">
    <div class="col-3 mb-4" *ngFor="let pokemon of pokemonList">
      <ngkdx-poke-box [pokemon]="pokemon" (clickEvent)="goToPokemon($event)" />
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="showSmallLoader">
    <div class="col-auto">
      <img src="assets/img/pokeball-spinner.gif" width="64" height="64" alt="Waiter" />
    </div>
  </div>
</ngkdx-base-layout>