@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

#pokedex {
  display: flex;
  flex-direction: column;
  height: 100%;

  .pokemon-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: pxToRem(30px);
  }
}