<ngkdx-base-layout [id]="'pokedex'">
  <div class="row pokemon-list" #uiElement (scroll)="onScroll()">
    <div class="col-3 mt-4" *ngFor="let pokemon of pokemonList">
      <ngkdx-poke-box [pokemon]="pokemon" (clickEvent)="goToPokemon($event)" />
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="showSmallLoader">
    <div class="col-auto">
      <img src="assets/img/pokeball-spinner.gif" width="64" height="64" alt="Waiter" />
    </div>
  </div>

  <div class="search-results-container" search-results>
    <div class="start-search" *ngIf="!isSearching">
      {{'pokedex.search.start-search' | translate}}
    </div>
    <div class="no-results" *ngIf="isSearching && searchResultsList.length === 0">
      {{'common.no-results' | translate}}
    </div>
    <div class="search-info" *ngIf="searchResultsList.length > 0">
      <span class="info-icon">
        <em class="fas fa-circle-info"></em>
      </span>
      <span>
        {{'pokedex.search.info' | translate}}
      </span>
    </div>
    <div class="search-item" *ngFor="let pokemon of searchResultsList" (click)="goToPokemon(pokemon, true)">
      <span>
        <img *ngIf="pokemon.sprite_link" [src]="pokemon.sprite_link" width="64" height="64" alt="pokemon" />
        <img *ngIf="!pokemon.sprite_link" src="assets/img/pokeball-pixel.png" width="64" height="64" alt="pokemon" />
      </span>
      <span class="mx-2">
        {{pokemon.name | capitalize}}
      </span>
      <span class="pokemon-number">
        -{{pokemon.id | number:'3.0'}}-
      </span>
    </div>
  </div>
</ngkdx-base-layout>