@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

#chain {
  margin: pxToRem(30px);
  align-items: center;
  height: calc(100% - pxToRem(50px));

  .next-icon {
    color: rgba(0, 0, 0, 0.5);
  }
}