@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

#chain {
  margin-top: pxToRem(30px);
  margin-bottom: pxToRem(30px);
  align-items: center;
  height: 100%;

  .next-icon {
    color: rgba(0, 0, 0, 0.5);
  }
}