<div id="learned-by-list">
  @if (showWaiter) {
    <div class="row">
      <div class="col text-center">
        <img src="assets/img/pokeball-spinner.gif" width="128" height="128" alt="waiter" />
      </div>
    </div>
  }

  @if (!showWaiter) {
    <div class="row">
      @for (pokemon of pokemonList; track pokemon) {
        <div class="col-6">
          <ngkdx-poke-box [pokemon]="pokemon" [compactView]="true" (clickEvent)="clickEvent.emit($event)" />
        </div>
      }
    </div>
  }
</div>