<div class="row mt-3">
  <div class="col-2">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.power !== null) {
          <span>
            {{selectedMove.power || '-'}}
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.power' | translate}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.pp !== null) {
          <span>
            {{selectedMove.pp || '-'}}
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.pp' | translate}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.meta?.crit_rate !== null) {
          <span>
            {{selectedMove.meta.crit_rate}}
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.critical-rate' | translate}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.meta?.drain !== null) {
          <span>
            {{selectedMove.meta.drain}}
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.drain' | translate}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.effect_chance !== null) {
          <span>
            {{selectedMove.effect_chance}}%
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.effect-chance' | translate}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.meta?.flinch_chance !== null) {
          <span>
            {{selectedMove.meta.flinch_chance}}%
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.flinch-chance' | translate}}
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-6">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.meta?.min_turns !== null && selectedMove.meta?.max_turns) {
          <span class="me-2">
            {{'common.min' | translate}}: {{selectedMove.meta.min_turns}}
          </span>
          <span class="ms-2">
            {{'common.max' | translate}}: {{selectedMove.meta.max_turns}}
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.turns' | translate}}
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="value-block">
      <div class="value">
        @if (selectedMove.meta.ailment.name !== 'none') {
          <span class="me-1">
            {{selectedMove.meta.ailment.name | capitalize}}
          </span>
          <span>
            {{selectedMove.meta.ailment_chance}}%
          </span>
        } @else {
          -
        }
      </div>

      <div class="title text-truncate">
        {{'moves.move-detail-modal.ailment' | translate}}
      </div>
    </div>
  </div>
</div>

