$ngkdx-red: 233 24 24;
$ngkdx-green-1: 61 163 24;
$ngkdx-green-2: 119 140 105;
$ngkdx-green-3: 78 99 49;
$ngkdx-yellow-1: 168 137 50;
$ngkdx-yellow-2: 237 178 0;
$ngkdx-dark-blue-1: 2 10 26;
$ngkdx-dark-blue-2: 17 30 56;
$ngkdx-dark-blue-3: 24 60 158;
$ngkdx-light-blue-1: 148 182 206;
$ngkdx-light-blue-2: 185 212 232;
$ngkdx-light-blue-3: 216 236 252;
$ngkdx-light-blue-4: 241 248 255;
$ngkdx-orange-1: 140 40 13;
$ngkdx-purple-1: 74 15 122;
$ngkdx-pink: 196 88 162;
$ngkdx-white: 255 255 255;
$ngkdx-grey: 150 150 150;
$ngkdx-black: 0 0 0;