$ngkdx-red: 233 24 24;
$ngkdx-green: 61 163 24;
$ngkdx-dark-blue-1: 2 10 26;
$ngkdx-light-blue-1: 148 182 206;
$ngkdx-light-blue-2: 185 212 232;
$ngkdx-light-blue-3: 216 236 252;
$ngkdx-black: 0 0 0;
$ngkdx-white: 255 255 255;