@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

#pokemon {
  padding-top: pxToRem(30px);
  padding-bottom: pxToRem(15px);
  height: 100%;
  display: flex;
  flex-direction: column;


  #bio {
    margin-bottom: pxToRem(15px);
    border: 1px solid rgba($ngkdx-light-blue-1);
    border-radius: pxToRem(8px);

    .display-name {
      font-size: pxToRem(50px);
      font-weight: lighter;
      margin: 0;

      .pokemon-number {
        color: rgba($ngkdx-light-blue-1);
        padding: 0 pxToRem(5px);
      }
    }

    #cry-play {
      margin-bottom: pxToRem(9px);
      border-radius: 100%;
    }

    .text-bg-poke {
      background-color: rgba($ngkdx-dark-blue-1);
      color: rgba($ngkdx-white);
    }
  }

  #specs {
    border: 1px solid rgba($ngkdx-light-blue-1);
    border-radius: pxToRem(8px);
    height: 100%;

    #specs-tabs {
      background-color: rgba($ngkdx-light-blue-1);
      border-radius: pxToRem(8px);
      padding: pxToRem(8px);
      margin-top: pxToRem(15px);
      user-select: none;

      .nav-item {
        .nav-link {
          text-align: center;
          border: unset !important;
          border-radius: pxToRem(6px);
          min-width: pxToRem(100px);
          margin-right: pxToRem(6px);
          color: rgba($ngkdx-black);

          &.active {
            background-color: rgba($ngkdx-dark-blue-1);
            font-weight: 700;
            color: rgba($ngkdx-white);
          }

          &:hover:not(.active) {
            background-color: rgba($ngkdx-light-blue-2);
            cursor: pointer;
          }
        }
      }
    }

    #specs-tabs-content {
      height: calc(100% - pxToRem(85px));

      ::ng-deep {
        .tab-pane {
          height: 100%;
        }
      }
    }
  }
}