@use "/src/assets/styles/utils" as *;
@import "/src/assets/palette/base-palette.scss";

.moves-table {
  border: 1px solid rgba($ngkdx-light-blue-1);
  margin-top: pxToRem(30px);
  margin-bottom: pxToRem(30px);
}

.small-loader {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.search-item {
  border: 1px solid rgba($ngkdx-light-blue-1);
  border-radius: pxToRem(8px);
  padding: pxToRem(15px);
  margin: pxToRem(10px) 0;
  font-size: pxToRem(20px);
  font-weight: lighter;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: rgba($ngkdx-light-blue-3) !important;
    cursor: pointer;
  }
}