@use "/src/assets/styles/utils" as *;

.moves-table {
  overflow: auto;
  height: 100%;

  thead,
  th {
    position: sticky;
    top: 0;
    z-index: 100;
    height: pxToRem(50px);
    background-color: white;
  }

  th {
    padding-bottom: pxToRem(10px);
  }

  .learn-more-btn {
    cursor: pointer;
  }
}