@import "/src/assets/palette/base-palette.scss";

.moves-table {
  border: 1px solid rgba($ngkdx-light-blue-1);
}

.small-loader {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}