<ngkdx-base-layout [id]="'moves'">

  <div class="moves-table" #uiElement (scroll)="onScroll()">
    <table class="table table-striped">
      <thead>
        <th scope="col" id="read-col"></th>
        <th scope="col" id="name-col">
          {{'moves.fields.name' | translate}}
        </th>
        <th scope="col" id="category-col">
          {{'moves.fields.category' | translate}}
        </th>
        <th scope="col" id="type-col">
          {{'moves.fields.type' | translate}}
        </th>
        <th scope="col">
          {{'moves.fields.description' | translate}}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let move of movesList">
          <td class="text-center">
            <span class="learn-more-btn" [ngbTooltip]="'common.learn-more' | translate" (click)="openMoveDetail(move)">
              <em class="far fa-eye"></em>
            </span>
          </td>
          <td>
            <div class="text-truncate">
              {{move.name}}
            </div>
          </td>
          <td>
            <span class="badge w-100 rounded-pill text-bg-move-category {{move.category_class}}">
              {{move.meta.category.name | capitalize}}
            </span>
          </td>
          <td>
            <span class="badge w-100 rounded-pill text-bg-move-type {{move.type.name}}">
              {{move.type.name | capitalize}}
            </span>
          </td>
          <td>
            <div class="text-truncate">
              {{move.flavor_text}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Search move results -->
  <div class="search-results-container" search-results>
    <div class="search-item" *ngFor="let move of rawFilteredList">
      <div class="row">
        <div class="col-10 text-truncate">
          {{move.name | capitalize}}
        </div>
        <div class="col-2 text-center">
          <span class="learn-more-btn" [ngbTooltip]="'common.learn-more' | translate"
            (click)="openMoveDetail(null, move.url)">
            <em class="far fa-eye"></em>
          </span>
        </div>
      </div>
    </div>
  </div>
</ngkdx-base-layout>

<div class="small-loader" *ngIf="showSmallLoader">
  <img src="assets/img/pokeball-spinner.gif" width="64" height="64" alt="Waiter" />
</div>

<ngkdx-move-popup #moveDetail />