<div class="container" id="search">

  <div class="row" id="search-bar">
    <div class="col">
      <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="searchTerm" [placeholder]="'common.search' | translate"
          (keydown.enter)="search()" />
        <span class="input-group-text" (click)="search()">
          <em class="fas fa-magnifying-glass"></em>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul ngbNav #specsTabs="ngbNav" class="standard-tabs nav-tabs" [(activeId)]="activeFilter">
        <li [ngbNavItem]="filters.POKEMON">
          <button ngbNavLink>
            {{'search.filters.pokemon' | translate}}
          </button>
        </li>
        <li [ngbNavItem]="filters.GENERATIONS">
          <button ngbNavLink>
            {{'search.filters.generations' | translate}}
          </button>
        </li>
        <li [ngbNavItem]="filters.MOVES">
          <button ngbNavLink>
            {{'search.filters.moves' | translate}}
          </button>
        </li>
        <li [ngbNavItem]="filters.MACHINES">
          <button ngbNavLink>
            {{'search.filters.machines' | translate}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>