@use "/src/assets/styles/utils" as *;

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .app-name {
    font-size: pxToRem(80px);
  }
}