<!-- Full mode -->
@if (!compactView) {
  <div class="poke-box" (click)="clickEvent.emit(pokemon)">
    <div class="row pokemon-picture">
      <div class="col-auto">
        @if (!pokemon.sprite_link) {
          <img src="assets/img/pokeball-pixel.png" width="128" height="128" alt="pokemon" />
        }
        @if (pokemon.sprite_link) {
          <img [src]="pokemon.sprite_link" width="128" height="128" alt="pokemon" />
        }
      </div>
    </div>
    <div class="row pokemon-name">
      <div class="col text-center">
        <p>
          {{pokemon.name | capitalize}}
        </p>
        <p class="pokemon-number">
          -{{pokemon.id | number:'3.0'}}-
        </p>
      </div>
    </div>
  </div>
}

<!-- Compact mode -->
@if (compactView) {
  <div class="poke-box-compact" (click)="clickEvent.emit(pokemon)">
    <div class="row align-items-center">
      <div class="col-2 pe-0">
        @if (pokemon.sprite_link) {
          <img [src]="pokemon.sprite_link" width="64" height="64" alt="pokemon" />
        }
        @if (!pokemon.sprite_link) {
          <img src="assets/img/pokeball-pixel.png" width="64" height="64" alt="pokemon" />
        }
      </div>
      <div class="col-9 p-0 offset-1 text-truncate">
        <span>
          {{pokemon.name | capitalize}}
        </span>
        <span class="pokemon-number">
          -{{pokemon.id | number:'3.0'}}-
        </span>
      </div>
    </div>
  </div>
}